@CHARSET "ISO-8859-1";

@font-face {
    font-family: titlePixelFont;
    src: url("/ProyectoFinal/fonts/origap__.ttf");
}

@font-face {
    font-family: menuPixelFont;
    src: url("/ProyectoFinal/fonts/ice_pixel-7.ttf");
}

@font-face {
    font-family: advancedPixel;
    src: url("/ProyectoFinal/fonts/advanced_pixel-7.ttf");
}

.advanced-pixel-font {
	font-family: advancedPixel;
}
