@CHARSET "ISO-8859-1";

@font-face {
    font-family: titlePixelFont;
    src: url("/ProyectoFinal/fonts/origap__.ttf");
}

@font-face {
    font-family: menuPixelFont;
    src: url("/ProyectoFinal/fonts/ice_pixel-7.ttf");
}

@font-face {
    font-family: advancedPixel;
    src: url("/ProyectoFinal/fonts/advanced_pixel-7.ttf");
}

@font-face {
    font-family: squarePixel;
    src: url("/ProyectoFinal/fonts/square_pixel-7.ttf");
}

@font-face {
    font-family: backToPixel;
    src: url("/ProyectoFinal/fonts/BACKTO1982.TTF");
}

@font-face {
    font-family: droidPixel;
    src: url("/ProyectoFinal/fonts/droid.ttf");
}

@font-face {
    font-family: booPixel;
    src: url("/ProyectoFinal/fonts/boo.ttf");
}

@font-face {
    font-family: casalePixel;
    src: url("/ProyectoFinal/fonts/casale.ttf");
}

.advanced-pixel-font {font-family: advancedPixel;}
.square-pixel-font {font-family: squarePixel;}
