<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProyectoFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>jsps/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CrearPost</servlet-name>
    <servlet-class>main.servlets.CrearPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearPost</servlet-name>
    <url-pattern>/CrearPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicarComentario</servlet-name>
    <servlet-class>main.servlets.PublicarComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicarComentario</servlet-name>
    <url-pattern>/PublicarComentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrearCuentaUsuario</servlet-name>
    <servlet-class>main.servlets.CrearCuentaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCuentaUsuario</servlet-name>
    <url-pattern>/CrearCuentaUsuario</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>mysql_url</param-name>
    <param-value>jdbc:mysql://localhost/dark_sky?</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_usuario</param-name>
    <param-value>andriy</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_pw</param-name>
    <param-value>andriy</param-value>
  </context-param>
</web-app>